# Point to the root certificate that was used
# by the PKI generation script to sign all other
# node certificates.
RootCertLoc = "/very/complicated/and/long/path/to/your/root-cert.pem"

[IMAP]
# What the system should send on an incoming new
# IMAP connection.
Greeting = "Pluto ready."
# How hierarchy in mailboxes will be indicated.
# Currently, we assume it to be '.' (dot).
HierarchySeparator = "."

[Distributor]
# PublicMailAddr denotes the Internet-facing address
# this pluto node is supposed to be reachable via.
PublicMailAddr = "127.0.0.1:993"
# ListenMailAddr in turn is used by this pluto process to
# bind locally to and listen for incoming requests.
ListenMailAddr = "127.0.0.1:993"
AuthAdapter = "AuthPostgres"

    [Distributor.PublicTLS]
    # Use these locations to provide your externally
    # signed certificates so that normal clients will
    # be able to verify them via their system's ca list.
    CertLoc = "/very/complicated/and/long/path/to/your/public-distributor-cert.pem"
    KeyLoc = "/very/complicated/and/long/path/to/your/public-distributor-key.pem"

    [Distributor.InternalTLS]
    # Use these locations to specify the paths to pluto's
    # internally-only used certificates built with the
    # script dedicated to setting up the PKI.
    CertLoc = "/very/complicated/and/long/path/to/your/internal-distributor-cert.pem"
    KeyLoc = "/very/complicated/and/long/path/to/your/internal-distributor-key.pem"

    [Distributor.AuthPostgres]
    IP = "127.0.0.1"
    Port = 5432
    Database = "pluto"
    User = "pluto"
    Password = "YourSuperSecurePasswordHere12345"
    UseTLS = true


[Workers]

    [Workers.worker-1]
    # Public and local address for handling mail connections.
    PublicMailAddr = "127.0.0.1:20001"
    ListenMailAddr = "127.0.0.1:20001"
    # Public and local address for CRDT synchronization.
    PublicSyncAddr = "127.0.0.1:30001"
    ListenSyncAddr = "127.0.0.1:30001"
    # The first ID of the user database table entry
    # that this worker node is responsible for.
    UserStart = 1
    # The last ID of the user database table entry that
    # this worker node is responsible for.
    UserEnd = 10
    # Point MaildirRoot to the file system location where
    # all Maildirs of the worker's users are located in.
    MaildirRoot = "/for/example/home/worker-1/Maildir/"
    # Location of CRDT representations of Maildirs to be
    # saved on local hard disk.
    CRDTLayerRoot = "/for/example/home/worker-1/crdt-layer/"

        [Workers.worker-1.TLS]
        CertLoc = "/very/complicated/and/long/path/to/your/internal-worker-1-cert.pem"
        KeyLoc = "/very/complicated/and/long/path/to/your/internal-worker-1-key.pem"

    [Workers.worker-2]
    PublicMailAddr = "127.0.0.1:20002"
    ListenMailAddr = "127.0.0.1:20002"
    PublicSyncAddr = "127.0.0.1:30002"
    ListenSyncAddr = "127.0.0.1:30002"
    UserStart = 11
    UserEnd = 20
    MaildirRoot = "/for/example/var/mail/Maildir/"
    CRDTLayerRoot = "/for/example/var/crdt-layer/"

        [Workers.worker-2.TLS]
        CertLoc = "/very/complicated/and/long/path/to/your/internal-worker-2-cert.pem"
        KeyLoc = "/very/complicated/and/long/path/to/your/internal-worker-2-key.pem"

    [Workers.worker-3]
    PublicMailAddr = "127.0.0.1:20003"
    ListenMailAddr = "127.0.0.1:20003"
    PublicSyncAddr = "127.0.0.1:30003"
    ListenSyncAddr = "127.0.0.1:30003"
    UserStart = 21
    UserEnd = 30
    MaildirRoot = "/for/example/some/very/unique/path/Maildir/"
    CRDTLayerRoot = "/for/example/some/very/unique/path/crdt-layer/"

        [Workers.worker-3.TLS]
        CertLoc = "/very/complicated/and/long/path/to/your/internal-worker-3-cert.pem"
        KeyLoc = "/very/complicated/and/long/path/to/your/internal-worker-3-key.pem"


[Storage]
PublicMailAddr = "127.0.0.1:21000"
ListenMailAddr = "127.0.0.1:21000"
PublicSyncAddr = "127.0.0.1:31000"
ListenSyncAddr = "127.0.0.1:31000"
MaildirRoot = "/for/example/some/very/unique/path/Maildir/"
CRDTLayerRoot = "/for/example/some/very/unique/path/crdt-layer/"

    [Storage.TLS]
    CertLoc = "/very/complicated/and/long/path/to/your/internal-storage-cert.pem"
    KeyLoc = "/very/complicated/and/long/path/to/your/internal-storage-key.pem"
